.navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DFE0EB;
}

.navbar-wrapper .right-content-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.navbar-wrapper .right-content-navbar h3 {
    position: relative;
    top: 14px;
    font-family: 'Segoe UI';
}

.navbar-wrapper .right-content-navbar p {
    position: relative;
    bottom: 16px;
    font-family: 'Segoe UI';
}

.navbar-wrapper h2, .navbar-wrapper .right-content-navbar {
    margin: 15px;
    font-family: 'Segoe UI';
} 